@model Domain.Entities.Department

@{
    ViewBag.Title = "Edit";
    Layout = "_Layout";
}

<h2>Form to edit department</h2>

@using (Html.BeginForm("Update", "Department", FormMethod.Post))
{
    <fieldset>
        <p><b>Associate Id : </b>@Model.Id</p>
        @Html.HiddenFor(m => m.Id)
        <p>
            @Html.LabelFor(m => m.Name, "Name")
            <br/>
            @Html.EditorFor(m => m.Name)
        </p>
        <p><input type="submit" value="Edit"/></p>
    </fieldset>
}
