@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Domain.Entities.Department>
@{
    ViewBag.Title = "Departments";
    Layout = "_Layout";
}

<h2>Company departments</h2>
<a asp-action="Add" asp-controller="Department">Add department</a>
<div class="table_section">
    @if (@Model.Count == 0)
    {
        <p>There is no any departments yet.</p>
    }
    else
    {
        <table style="width: 100%;">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Positions count</th>
            </tr>
            @foreach (var department in @Model)
            {
                <tr>
                    <td>@department.Id</td>
                    <td>@department.Name</td>
                    <td>@department.Positions.Count</td>
                    <td>
                        <a asp-action="GetById" asp-controller="Department" asp-route-departmentId="@department.Id">View</a>
                        </td>
                    <td>
                        <a asp-action="Delete" asp-controller="Department" asp-route-departmentId="@department.Id">Delete</a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-controller="Department" asp-route-departmentId="@department.Id">Edit</a>
                    </td>
                </tr>
            }
        </table>
    }
</div>