@using Microsoft.AspNetCore.Mvc.TagHelpers
@model HRM.MVC.ViewModels.AddPositionViewModel

@{
    ViewBag.Title = "Add";
    Layout = "_Layout";
}

<h2>Form to add a new position</h2>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Add" method="post">
            <div class="form_row">
                <label for="">
                    Name
                    <input asp-for="Name" type="text">
                </label>
                <span asp-validation-for="Name"></span>
            </div>
            <div class="form_row">
                <label asp-for="DepartmentName" ></label>
                <select asp-for="DepartmentName" asp-items="ViewBag.Departments"></select>
                <span asp-validation-for="DepartmentName"></span>
            </div>
            <button type="submit">Add</button>
        </form>
    </div>
</div>